<div id="main-container">

    <div id="mentorsList">
        <table class="table">
            <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>date of birth</th>
                <th>email</th>
                <th>group name</th>
            </tr>
            </thead>
            <tbody>
                {% for mentor in allMentors %}
            <tr>
                <td>{{ mentor.firstName }}</td>
                <td>{{ mentor.lastName }}</td>
                <td>{{ mentor.dateOfBirth }}</td>
                <td>{{ mentor.email }}</td>
                <td>{{ mentor.group.name }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
