
<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for level in allLevels %}
                        <a href="/level/edit?level-id={{ level.ID }}">
                        <button name="level-id" value="{{ level.ID }}">Level {{ level.rank }} {{ level.requiredExperience }}xp</button>
                        </a>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">

        <div id="user-form-container-edit">
            <form method="POST">
                <div class="user-form">
                    <label for="rank">rank</label>
                    <input type="text" name="rank" id="rank" value={{ rank }}>
                </div>

                <div class="user-form">
                    <label for="required-experience">required experience</label>
                    <input type="text" name="required-experience" id="required-experience" value={{ requiredExperience }}>
                </div>

                <div class="user-form">
                    <label for="description">description</label>
                    <input type="text" name="description" id="description" value="{{ description }}">
                </div>

                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>