<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for fundraising in fundraisingsList %}
                        <a href="/fundraising/join?fundraising-id={{ fundraising.ID }}">
                            <button name="fundraising-id" value="{{ fundraising.ID }}">{{ fundraising.name }}</button>
                        </a>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="fundraisings-list">
            <table class="table">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ fundraising.name }}</td>
                </tr>
                <tr>
                    <td>Artifact name</td>
                    <td>{{ fundraising.artifact.name }}</td>
                </tr>
                <tr>
                    <td>Artifact description</td>
                    <td>{{ fundraising.artifact.description }}</td>
                </tr>
                <tr>
                    <td>Artifact value</td>
                    <td>{{ fundraising.artifact.value }}</td>
                </tr>
                <tr>
                    <td>Creation date</td>
                    <td>{{ fundraising.dateToString() }}</td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </div>

</div>