<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for quest in allQuests %}
                        <a href="/quest/edit?quest-id={{ quest.ID }}">
                            <button name="quest-id" value="{{ quest.ID }}">
                                {{ quest.name }}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="user-form-container">
            <form method="POST">
                <div class="edit-text-fields">
                    <div class="user-form">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name" value="{{ name }}" required>
                    </div>

                    <div class="user-form">
                        <label for="description">description</label>
                        <input type="text" name="description" id="description" value="{{ description }}" required>
                    </div>

                    <div class="user-form">
                        <label for="reward">reward</label>
                        <input type="text" name="reward" id="reward" value="{{ reward }}" required
                               pattern="^[0-9]+$" title="It's not a digit">
                    </div>
                </div>

                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>
