<div id="main-container-edit">
    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <script src="../../static/js/filteringScript.js"></script>
            <input type="text" id="searching" onkeyup="filterList()" placeholder="Search">
            <form>
                <div id="radio-form">
                    <ul id="radio-form-ul">
                    {%  for quest in allQuests %}
                        <li>
                        <a href="/quest/edit?quest-id={{ quest.ID }}">
                            <button name="quest-id" value="{{ quest.ID }}">
                                {{ quest.name }}
                            </button>
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="user-form-container">
            <form method="POST">
                <div class="edit-text-fields">
                    <div class="user-form">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name" value="{{ name }}" maxlength="23"
                               pattern="^[a-zA-Z]*$" title="Should contains only letters" required>
                    </div>

                    <div class="user-form">
                        <label for="reward">reward</label>
                        <input type="text" name="reward" id="reward" value="{{ reward }}" maxlength="20" required
                               pattern="^[0-9]+$" title="It's not a digit">
                    </div>

                    <div class="user-form">
                        <label for="description">description</label>
                        <textarea rows="4" name="description" id="description" maxlength="100"
                                  pattern="^[a-zA-Z]*$" title="Should contains only letters" required>{{ description }}</textarea>
                    </div>
                </div>

                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>
