<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for codecooler in allCodecoolers %}
                        <a href="/codecooler/edit?codecooler-id={{ codecooler.ID }}">
                            <button name="codecooler-id" value="{{ codecooler.ID }}">
                                {{ codecooler.firstName }} {{ codecooler.lastName }}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="user-form-container">
            <form method="POST">
                <div class="user-form">
                    <label for="first-name">first name</label>
                    <input type="text" name="first-name" id="first-name" value="{{ firstName }}" required>
                </div>

                <div class="user-form">
                    <label for="last-name">last name</label>
                    <input type="text" name="last-name" id="last-name" value="{{ lastName }}" required>
                </div>

                <div class="user-form">
                    <label for="email">email</label>
                    <input type="text" name="email" id="email" placeholder="email" required
                           pattern="^([_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-](\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{1,6}))?$">
                </div>

                <div class="user-form">
                    <label for="birthdate">birthdate</label>
                    <input type="text" name="birthdate" id="birthdate" value="{{ dateOfBirth }}" required
                           pattern="^[12][09]\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$"
                           title="YYYY-MM-DD">
                </div>

                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>
