<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <script src="../../static/js/filteringScript.js"></script>
            <input type="text" id="searching" onkeyup="filterList()" placeholder="Search">
            <form>
                <div id="radio-form">
                    <ul id="radio-form-ul">
                    {%  for artifact in allArtifacts %}
                        <li>
                        <a href="/artifact/edit?artifact-id={{ artifact.ID }}">
                        <button name="team-id" value="{{ artifact.ID }}">
                            {{ artifact.name }}
                        </button>
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="user-form-container">
            <form method = "POST">
                <div class="edit-text-fields">
                    <div class="user-form">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name" value = "{{ name }}" maxlength="23" required>
                    </div>

                    <div class="user-form">
                        <label for="value">value</label>
                        <input type="text" name="value" id="value" value = "{{ value }}" maxlength="20" required
                               pattern="^[0-9]+$" title="It's not a digit">
                    </div>

                    <div class="user-form">
                        <label for="description">description</label>
                        <textarea rows="4" name="description" id="description" maxlength="100" required>{{ description }}</textarea>
                    </div>
                </div>

                <div id="radio-form-edit">
                    <input type="radio" id="single" name="type" value="single" {{ checkedSingle }}><label for="single">single</label>
                    <input type="radio" id="group" name="type" value="group" {{ checkedGroup }}><label for="group">group</label>
                </div>
                <br>
                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>
